<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dagong.mapper.CompanyEvaluationMapper">
  <resultMap id="BaseResultMap" type="com.dagong.pojo.CompanyEvaluation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, user_id, rank, comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from companyevaluation
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getListSelective" parameterType="com.dagong.pojo.CompanyEvaluation" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from companyevaluation
    where
    <trim suffixOverrides="and" >
      <if test="id != null" >
        id=  #{id,jdbcType=VARCHAR} and
      </if>
      <if test="userId != null" >
        user_id= #{userId,jdbcType=VARCHAR} and
      </if>
      <if test="companyId != null" >
        company_id= #{companyId,jdbcType=VARCHAR} and
      </if>
    </trim>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from companyevaluation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dagong.pojo.CompanyEvaluation">
    insert into companyevaluation (id, company_id, user_id, 
      rank, comment)
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dagong.pojo.CompanyEvaluation">
    insert into companyevaluation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dagong.pojo.CompanyEvaluation">
    update companyevaluation
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dagong.pojo.CompanyEvaluation">
    update companyevaluation
    set company_id = #{companyId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>