<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dagong.mapper.FollowUserMapper">
  <resultMap id="BaseResultMap" type="com.dagong.pojo.FollowUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="company_user" jdbcType="VARCHAR" property="companyUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, user_id, company_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from followuser
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getListSelective" parameterType="com.dagong.pojo.FollowUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from followuser
    where
    <trim suffixOverrides="and">
      <if test="id != null">
        id= #{id,jdbcType=VARCHAR} and
      </if>
      <if test="userId != null">
        user_id= #{userId,jdbcType=VARCHAR} and
      </if>
      <if test="companyId != null">
        company_id= #{companyId,jdbcType=VARCHAR} and
      </if>
      <if test="companyUser != null">
        company_user= #{companyUser,jdbcType=VARCHAR} and
      </if>
    </trim>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from followuser
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dagong.pojo.FollowUser">
    insert into followuser (id, company_id, user_id, 
      company_user)
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{companyUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dagong.pojo.FollowUser">
    insert into followuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="companyUser != null">
        company_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="companyUser != null">
        #{companyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dagong.pojo.FollowUser">
    update followuser
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="companyUser != null">
        company_user = #{companyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dagong.pojo.FollowUser">
    update followuser
    set company_id = #{companyId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      company_user = #{companyUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>