<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dagong.mapper.JobMapper">
    <resultMap id="BaseResultMap" type="com.dagong.pojo.Job">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="job_Name" property="jobName" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="need_number" property="needNumber" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="job_type" property="jobType" jdbcType="INTEGER"/>
        <result column="start_salary" property="startSalary" jdbcType="INTEGER"/>
        <result column="end_salary" property="endSalary" jdbcType="INTEGER"/>
        <result column="bonus" property="bonus" jdbcType="INTEGER"/>
        <result column="royalty" property="royalty" jdbcType="INTEGER"/>
        <result column="discuss" property="discuss" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="BIGINT"/>
        <result column="start_time" property="startTime" jdbcType="BIGINT"/>
        <result column="end_time" property="endTime" jdbcType="BIGINT"/>
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="contractor" property="contractor" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="degree" property="degree" jdbcType="INTEGER"/>
        <result column="worked_year" property="workedYear" jdbcType="VARCHAR"/>
        <result column="welfare" property="welfare" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.dagong.pojo.Job" extends="BaseResultMap">
        <result column="detail" property="detail" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, job_Name, company_id, need_number, create_time, job_type, start_salary, end_salary, 
    bonus, royalty, discuss, modify_time, start_time, end_time, modify_user, status, 
    address, contractor, phone_number, degree, worked_year, welfare, version
  </sql>
    <sql id="Blob_Column_List">
    detail
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.dagong.pojo.JobExample">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from job
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dagong.pojo.JobExample">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from job
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from job
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from job
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.dagong.pojo.Job">
    insert into job (id, job_Name, company_id, 
      need_number, create_time, job_type, 
      start_salary, end_salary, bonus, 
      royalty, discuss, modify_time, 
      start_time, end_time, modify_user, 
      status, address, contractor, 
      phone_number, degree, worked_year, 
      welfare, version, detail
      )
    values (#{id,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{needNumber,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{jobType,jdbcType=INTEGER}, 
      #{startSalary,jdbcType=INTEGER}, #{endSalary,jdbcType=INTEGER}, #{bonus,jdbcType=INTEGER}, 
      #{royalty,jdbcType=INTEGER}, #{discuss,jdbcType=INTEGER}, #{modifyTime,jdbcType=BIGINT}, 
      #{startTime,jdbcType=BIGINT}, #{endTime,jdbcType=BIGINT}, #{modifyUser,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{contractor,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{degree,jdbcType=INTEGER}, #{workedYear,jdbcType=VARCHAR}, 
      #{welfare,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.dagong.pojo.Job">
        insert into job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="jobName != null">
                job_Name,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="needNumber != null">
                need_number,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="jobType != null">
                job_type,
            </if>
            <if test="startSalary != null">
                start_salary,
            </if>
            <if test="endSalary != null">
                end_salary,
            </if>
            <if test="bonus != null">
                bonus,
            </if>
            <if test="royalty != null">
                royalty,
            </if>
            <if test="discuss != null">
                discuss,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="modifyUser != null">
                modify_user,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="contractor != null">
                contractor,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="degree != null">
                degree,
            </if>
            <if test="workedYear != null">
                worked_year,
            </if>
            <if test="welfare != null">
                welfare,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="detail != null">
                detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="needNumber != null">
                #{needNumber,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="jobType != null">
                #{jobType,jdbcType=INTEGER},
            </if>
            <if test="startSalary != null">
                #{startSalary,jdbcType=INTEGER},
            </if>
            <if test="endSalary != null">
                #{endSalary,jdbcType=INTEGER},
            </if>
            <if test="bonus != null">
                #{bonus,jdbcType=INTEGER},
            </if>
            <if test="royalty != null">
                #{royalty,jdbcType=INTEGER},
            </if>
            <if test="discuss != null">
                #{discuss,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=BIGINT},
            </if>
            <if test="modifyUser != null">
                #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="contractor != null">
                #{contractor,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                #{degree,jdbcType=INTEGER},
            </if>
            <if test="workedYear != null">
                #{workedYear,jdbcType=VARCHAR},
            </if>
            <if test="welfare != null">
                #{welfare,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dagong.pojo.Job">
        update job
        <set>
            <if test="jobName != null">
                job_Name = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="needNumber != null">
                need_number = #{needNumber,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="jobType != null">
                job_type = #{jobType,jdbcType=INTEGER},
            </if>
            <if test="startSalary != null">
                start_salary = #{startSalary,jdbcType=INTEGER},
            </if>
            <if test="endSalary != null">
                end_salary = #{endSalary,jdbcType=INTEGER},
            </if>
            <if test="bonus != null">
                bonus = #{bonus,jdbcType=INTEGER},
            </if>
            <if test="royalty != null">
                royalty = #{royalty,jdbcType=INTEGER},
            </if>
            <if test="discuss != null">
                discuss = #{discuss,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=BIGINT},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="contractor != null">
                contractor = #{contractor,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                degree = #{degree,jdbcType=INTEGER},
            </if>
            <if test="workedYear != null">
                worked_year = #{workedYear,jdbcType=VARCHAR},
            </if>
            <if test="welfare != null">
                welfare = #{welfare,jdbcType=VARCHAR},
            </if>

            version = version+1,

            <if test="detail != null">
                detail = #{detail,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR} and version=#{version,INTEGER}
    </update>
</mapper>